<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<dict>
		<key>C</key>
		<integer>-50</integer>
		<key>F</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>S</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-150</integer>
		<key>W</key>
		<integer>-150</integer>
	</dict>
	<key>C</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>K</key>
		<integer>-50</integer>
		<key>L</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>0</integer>
		<key>e</key>
		<integer>-50</integer>
		<key>i</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-50</integer>
	</dict>
	<key>D</key>
	<dict>
		<key>E</key>
		<integer>-50</integer>
		<key>F</key>
		<integer>-50</integer>
		<key>H</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-50</integer>
		<key>Y</key>
		<integer>-50</integer>
	</dict>
	<key>E</key>
	<dict>
		<key>O</key>
		<integer>-50</integer>
	</dict>
	<key>F</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-100</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>r</key>
		<integer>-50</integer>
	</dict>
	<key>H</key>
	<dict>
		<key>h</key>
		<integer>0</integer>
	</dict>
	<key>K</key>
	<dict>
		<key>O</key>
		<integer>-50</integer>
	</dict>
	<key>L</key>
	<dict>
		<key>C</key>
		<integer>-50</integer>
		<key>E</key>
		<integer>-100</integer>
		<key>O</key>
		<integer>-100</integer>
	</dict>
	<key>M</key>
	<dict>
		<key>E</key>
		<integer>-50</integer>
		<key>L</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-150</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>c</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-50</integer>
	</dict>
	<key>O</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>C</key>
		<integer>0</integer>
		<key>D</key>
		<integer>0</integer>
		<key>E</key>
		<integer>-50</integer>
		<key>F</key>
		<integer>-50</integer>
		<key>J</key>
		<integer>-150</integer>
		<key>K</key>
		<integer>-50</integer>
		<key>P</key>
		<integer>-50</integer>
		<key>S</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>U</key>
		<integer>-50</integer>
		<key>V</key>
		<integer>-100</integer>
		<key>Y</key>
		<integer>-100</integer>
		<key>a</key>
		<integer>-50</integer>
		<key>c</key>
		<integer>-50</integer>
		<key>e</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-50</integer>
	</dict>
	<key>P</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>H</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>e</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-50</integer>
	</dict>
	<key>Q</key>
	<dict>
		<key>O</key>
		<integer>-50</integer>
		<key>P</key>
		<integer>-50</integer>
	</dict>
	<key>T</key>
	<dict>
		<key>A</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>a</key>
		<integer>-100</integer>
		<key>b</key>
		<integer>-50</integer>
		<key>c</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>-100</integer>
		<key>e</key>
		<integer>-100</integer>
		<key>f</key>
		<integer>-50</integer>
		<key>g</key>
		<integer>-100</integer>
		<key>h</key>
		<integer>-50</integer>
		<key>i</key>
		<integer>-50</integer>
		<key>j</key>
		<integer>-50</integer>
		<key>k</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-50</integer>
		<key>n</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-100</integer>
		<key>p</key>
		<integer>-100</integer>
		<key>q</key>
		<integer>-100</integer>
		<key>r</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-100</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>w</key>
		<integer>-50</integer>
		<key>x</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-100</integer>
		<key>z</key>
		<integer>-50</integer>
	</dict>
	<key>V</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>D</key>
		<integer>0</integer>
		<key>E</key>
		<integer>-50</integer>
		<key>M</key>
		<integer>-150</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>i</key>
		<integer>-50</integer>
	</dict>
	<key>W</key>
	<dict>
		<key>A</key>
		<integer>-100</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>e</key>
		<integer>-50</integer>
	</dict>
	<key>Y</key>
	<dict>
		<key>M</key>
		<integer>-100</integer>
		<key>O</key>
		<integer>-100</integer>
	</dict>
	<key>Z</key>
	<dict>
		<key>O</key>
		<integer>-50</integer>
	</dict>
	<key>a</key>
	<dict>
		<key>c</key>
		<integer>-50</integer>
		<key>n</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-50</integer>
		<key>r</key>
		<integer>0</integer>
		<key>t</key>
		<integer>-50</integer>
		<key>v</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>b</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
	</dict>
	<key>c</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
		<key>M</key>
		<integer>-50</integer>
		<key>h</key>
		<integer>-50</integer>
	</dict>
	<key>d</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
	</dict>
	<key>e</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
		<key>P</key>
		<integer>-50</integer>
		<key>h</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-50</integer>
	</dict>
	<key>f</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
	</dict>
	<key>five</key>
	<dict>
		<key>eight</key>
		<integer>0</integer>
	</dict>
	<key>g</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
	</dict>
	<key>h</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
	</dict>
	<key>i</key>
	<dict>
		<key>H</key>
		<integer>0</integer>
	</dict>
	<key>k</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
	</dict>
	<key>l</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
		<key>d</key>
		<integer>-50</integer>
		<key>e</key>
		<integer>-50</integer>
		<key>o</key>
		<integer>-50</integer>
		<key>u</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>m</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-50</integer>
	</dict>
	<key>n</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>o</key>
	<dict>
		<key>B</key>
		<integer>-50</integer>
		<key>C</key>
		<integer>-50</integer>
		<key>E</key>
		<integer>-50</integer>
		<key>H</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-50</integer>
		<key>P</key>
		<integer>-50</integer>
		<key>b</key>
		<integer>-50</integer>
		<key>h</key>
		<integer>-50</integer>
		<key>m</key>
		<integer>-50</integer>
		<key>n</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>p</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
		<key>O</key>
		<integer>-50</integer>
	</dict>
	<key>q</key>
	<dict>
		<key>O</key>
		<integer>-50</integer>
	</dict>
	<key>r</key>
	<dict>
		<key>M</key>
		<integer>-50</integer>
		<key>b</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-50</integer>
	</dict>
	<key>s</key>
	<dict>
		<key>M</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>h</key>
		<integer>-50</integer>
		<key>t</key>
		<integer>0</integer>
	</dict>
	<key>t</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
		<key>y</key>
		<integer>-50</integer>
	</dict>
	<key>two</key>
	<dict>
		<key>three</key>
		<integer>-50</integer>
	</dict>
	<key>u</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
		<key>l</key>
		<integer>-50</integer>
		<key>s</key>
		<integer>-50</integer>
	</dict>
	<key>v</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
	</dict>
	<key>w</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
	</dict>
	<key>x</key>
	<dict>
		<key>T</key>
		<integer>-50</integer>
	</dict>
	<key>y</key>
	<dict>
		<key>H</key>
		<integer>0</integer>
		<key>T</key>
		<integer>-50</integer>
		<key>p</key>
		<integer>-50</integer>
	</dict>
	<key>z</key>
	<dict>
		<key>H</key>
		<integer>-50</integer>
		<key>T</key>
		<integer>-50</integer>
	</dict>
	<key>zero</key>
	<dict>
		<key>one</key>
		<integer>-50</integer>
	</dict>
</dict>
</plist>
